#receipt {
  display: none;
  background-image: url("../img/receipt.png");
  background-position: top left;
  background-size: cover;
  border-radius: 5px;
  padding: 100px 50px;
  font-family: monospace;
  min-height: 300px;
  font-size: 1.5em;
  color: #777;

}

#receiptaddress {
  padding: 10px;
}

#cooking-page, #shop-page {
  display: none;
}

#calc-result, #liters, #tablespoons, #ounces {
  font-size: 3em;
  font-family: monospace;
  border: 1px solid lightgray;
  min-width: 100%;
  min-height: 70px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #002244;
  color: #00FF00;
  font-family: monospace;
  padding-left: 20px;
}

#color {
  min-width: 75px;
  width: 10%;
  min-height: 75px;
  margin: 0 auto;
}

#colorcontainer {
  margin-top: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
}

input {
  height: 75px;
  width: 75px;
  font-size: 3em;
  background-color: #DDEEFF;
  border: none;
  border-radius: 10px;
}

input:hover {
  background-color: #CCDDEE;
}



#colorbutton {
  margin-top: 10px;

}
